@using System.Security.Claims
@using MvcCoreTest.Entities
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
<header>
    <h1>Welcome Header!</h1>
    @RenderSection("header", false)
</header>
<div>
    <div class="nav navbar-nav navbar-right">
        @if (User.Identity.IsAuthenticated)
        {
            <form method="post" asp-controller="Account" asp-action="Logout" class="navbar-form">
                @User.Identity.Name
                <input type="submit" value="Logout" class="btn btn-danger" />
            </form>
        }
        else
        {
            <a class="btn btn-default btn-xs navbar-btn" asp-controller="Account" asp-action="Login">Login</a>
                    <a class="btn btn-default btn-xs navbar-btn" asp-controller="Account" asp-action="Register">Register</a>
        }
    </div>

    @RenderBody()
</div>
<footer>
    @RenderSection("footer",false)
    @await Component.InvokeAsync("Greeting")
</footer>
</body>
</html>
